@charset "UTF-8";

* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

img {
    border: 0 none;
    vertical-align: top
}

i,em {
    font-style: normal
}

ol,ul {
    list-style: none
}

input,select,button,h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/*a {
    text-decoration: none;
    color: #333
}*/
html{
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    height: 100%;
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
    background-color: #ffffff;
    overflow: hidden;
}

.hide,.h {
    display: none !important
}

.show {
    display: block !important
}

.clear:after {
    content: '';
    clear: both;
    display: block;
    font-size: 0
}
.content{
   padding: 10px;
}
.content p{
    color:#7f735a;
    font-size: 12px;
    word-break:break-all;
　　word-wrap:break-word;
}

/* 文章页面 */
.bd {padding-left: 10px;padding-right: 10px;}
.bd a {text-decoration: none;color: #333}
p{  word-break:break-all;word-wrap:break-word;}
.archives_titile { text-align:center; padding:0 0 10px 0; margin:10px 15px 15px 15px; border-bottom:1px solid #ddd; font-size:14px; font-weight:normal; }
.archives_subtitile { text-align:center; padding:0 10px 15px 10px; font-weight:normal; color:#666; }
.archives_cont { color:#666; padding:10px 20px; ; }
.archives_cont p { margin-bottom:7px; }
.archives_cont .num { margin-right:30px; }
.mod_news_list li .note_first:link, .mod_news_list li .note_first:visited, .mod_news_list li .note_first:hover, .mod_news_list li .note_first:active { color:#f00; }
.text_detail:link, .text_detail:visited, .text_detail:hover, .v:active { color:#fff; background:#f00; padding:0 2px; margin-left:3px; }
.fav_rules { padding-left:80px; position:relative; }
.fav_rules .text { position:absolute; left:15px; top:1px; }
.fav_rules .rules_list li { width:230px; margin-right:20px; }
.rules_list { zoom:1 }
.rules_list:after { content: ''; display: block; clear: both; height: 0; }
.rules_list li { line-height:18px; background:url(http://static.paipaiimg.com/assets/my/bg_list_dot.png) 2px 8px no-repeat; color:#666; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; width:260px; margin:0 20px 6px 20px; padding-left:10px; overflow:hidden; text-flow:ellpsis; }
.bar { font-family: "宋体B8B\4F53"; color: #999; padding: 0px 8px; }