<!DOCTYPE HTML>
<html lang="zh_CN">
<head>
    <meta charset="gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>拍拍-拍便宜</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/takeCheapTest/list.css?t=1426747493"/>
    <!--[if !IE]>|xGv00|78e6623c77322e6f7dc96e5968d39b58<![endif]-->
</head>
<body ontouchstart="">
<section id="__newsapp_container" style="display: none !important">
    <div id="__newsapp_sharetext"></div>
    <!--微博正文，分享连接若有同放这里-->
    <div id="__newsapp_sharephotourl"></div>
    <!--微博图片连接--><!--qq--><!--网易微博--><!--renrenwang--><!--qq空间-->
    <div id="__newsapp_sharewxtitle"></div>
    <!--微信标题-->
    <div id="__newsapp_sharewxtext"></div>
    <!--微信摘要-->
    <div id="__newsapp_sharewxurl"></div>
    <!--微信分享连接--><!--分享连接的下载地址-->
    <div id="__newsapp_sharewxthumburl"></div>
    <!--微信缩略图连接--><!--易信-->
</section>
<!--	<div class="mod_nav" id="mod_nav">
	    <div class="mod_nav_lk">
	        <a href="http://www.paipai.com/m2/ttj/tuan_list.html?_wv=1" class="mod_nav_item mod_nav_cur">拍便宜</a>
	        <a href="http://3.paipai.com/?src=mqq" class="mod_nav_item">优品闪购</a>
	        <a href="http://www.paipai.com/m2/my/index.shtml?src=mqq&_wv=1" class="mod_nav_item">我的拍拍</a>
	    </div>
	</div>-->
<!-- S 1111广告列表 -->
<!--#include virtual="ad_list.shtml"-->
<!-- E 1111广告列表 -->
<!--Banner-->
<div id="mod_banner" class="mod_banner" style="display:none">
    <a href="#" class="mod_banner_lk">
        <img class="mod_banner_img" alt="">
    </a>
    <span class="mod_banner_close" onclick="$('#mod_banner').hide();"></span>
</div>
<div class="cat_wrap">
    <div id="mod_cat" class=cat">
        <div class="cat_list" style="-webkit-backface-visibility: hidden;">
            <a href="javascript:void(0);" data-cat="new" data-tagid="13"
               class="cat_item cat_new cat_cur"><span>上新</span></a>
            <a href="javascript:void(0);" data-cat="hot" data-tagid="14" class="cat_item cat_hot  "><span>热卖</span></a>
            <a href="javascript:void(0);" data-cat="qiang" data-tagid="15"
               class="cat_item cat_qiang"><span>疯抢</span></a>
            <a href="javascript:void(0);" data-cat="tuijian" data-tagid="16"
               class="cat_item cat_all"><span>推荐</span></a>
            <a href="javascript:void(0);" data-cat="cat7" data-tagid="17" class="cat_item cat_baby"><span>母婴</span></a>
            <a href="javascript:void(0);" data-cat="cat1" data-tagid="8" class="cat_item cat_food"><span>美食</span></a>
            <a href="javascript:void(0);" data-cat="cat4" data-tagid="11"
               class="cat_item cat_digital"><span>数码</span></a>
            <a href="javascript:void(0);" data-cat="cat5" data-tagid="12" class="cat_item cat_life"><span>生活</span></a>
        </div>
    </div>
    <a id="mod_qqbacktop" class="mod_qqbacktop" href="javascript:void(0);" style="display:none;"></a>
</div>
<!--初次进入提示 B-->
<div id="mod_mask" class="mod_mask" style="display:none"></div>
<div id="tips" class="entertips entertips_1">
    <!-- 通过entertips_1/entertips_2/entertips_3 分别控制3个提示 -->
    <span class="entertips_ju"></span>
    <span class="entertips_tuan"></span>
    <span class="entertips_shangou"></span>
    <span class="entertips_order"></span>
    <a class="entertips_order_btn" href="javascript:void(0);"></a>
</div>
<!--初次进入提示 E-->
<!--Loading B-->
<div id="ld_mask" class="pt_loading" style="display:block;"></div>
<!--Loading E-->


<!--加载出错提示B-->
<div id="no_all_items" class="tuan_none" style="display:none">小拍正在紧张补货，
    <br>敬请期待下一期的拍便宜！
</div>
<div id="no_cat_items" class="tuan_none" style="display:none">该分类商品已售光啦，
    <br>您可以<a href="javascript:void(0);" onclick="showCatItem('new','',true);">查看更多&gt;&gt;</a>
</div>
<!--加载出错提示E-->

<div id="tuan" class="tuan" style="padding-top:10px;-webkit-backface-visibility: hidden;">
    <div id="tuanbanner" style="display:none">

    </div>
    <div id="tuijian" style="display:none"></div>
</div>
<script id="template_tuan" type="text/plain">
	<%for(var i=0;i<data.length;i++){%>
		<%if(data[i]){%>
			<div class="g <%=data[i].dwStockClass%>" data-id="<%=data[i].comodityId%>" data-num="<%=data[i].activeNum%>" data-cat="<%=data[i].cat%>" data-vtuan="<%=data[i].vtuan%>" data-catstyle="<%=data[i].catStyle%>" data-newGoods="<%=data[i].newGoods%>" data-hotGoods="<%=data[i].hotGoods%>" id="comd_<%=data[i].comodityId%>"><a href="javascript:void(0);" class="g_img"><img data-src="<%=data[i].comoditySmallPicUrl%>" alt="" src=""><span class="g_num">已有<b></b>人参团</span></a><div class="g_info"><p class="g_name"><%if(data[i].newGoods=="new"){%><span class="g_mark g_mark1">NEW</span><%}else if(data[i].hotGoods){%><span class="g_mark g_mark2">HOT</span><%}%><%=data[i].comodityShortName%></p><p class="g_cx"><%=data[i].comodityDesc%></p><span class="g_sale"><b><%=data[i].discount%></b>折成团</span></div><a href="#" class="g_core"><div class="g_price"><span><%=data[i].leastPeopNum%>人团</span><b><i>￥</i><%=data[i].activePrice%></b></div><div class="g_btn">去开团</div></a><div class="g_extra"><div class="g_mprice">市场价：<del>￥<%=data[i].marketPrice%></del></div><div class="g_state">剩余<%=data[i].backCountTime%>结束</div></div></div>
		<%}%>
	<%}%>

</script>
<a href="http://mp.weixin.qq.com/s?__biz=MjM5MTI5NjI2MA==&mid=200860965&idx=1&sn=0608e210f97905d61f6b446daf098ff7&ptag=20400.1.17#rd"
   class="follow" id="pp_wechat" style="display:none;">
    <div class="follow_txt">
        <h3>拍拍公众号</h3>

        <p>热门活动推荐\订单查询</p>
    </div>
    <div class="follow_btn "><i></i><span>关注公众号</span></div>
</a>

<div class="mod_footer" id="pp_footer_logo" style="display:none;">
    <div class="mod_footer_logo">
        <span class="mod_logo"></span>
    </div>
</div>
<script>//是否开启静态数据接口
var staticInterface = false;
</script>
<!-- S 微信分亨语 -->
<script>var wxShareArr = [""];</script>
<!-- E 微信分亨语 -->
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto.min.js"></script>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto-fx.js"></script>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/zepto-selector.js"></script>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/headroom-0.7.0.min.js"></script>
<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/shareapi.js"></script>
<script type="text/javascript">
    function $returnCode(cfg) {//返回码组件
        var codeType = {
                    success: 1,
                    error: 2,
                    logicError: 3
                },
                _cfg = {
                    url: '',
                    freq: 1,
                    uin: $getUin(),
                    timeout: 6000,
                    timeoutCode: '444',
                    formatUrl: true,
                    isReport: false
                },
                sTime = new Date(),
                task,
                _guid = (new Date()).getTime();
        $extend(_cfg, cfg);
        function _report(code, type) {
            if (_cfg.isReport) {
                return;
            }
            _cfg.isReport = true;
            var eTime = new Date(),
                    domain = _cfg.url.replace(/^.*\/\//, '').replace(/\/.*/, ''),
                    cgi = encodeURIComponent(_cfg.formatUrl ? _cfg.url.match(/^[\w|/|.|:|-]*/)[0] : _cfg.url), //CGI
                    time = eTime - sTime,
                    rate = _cfg.freq,
                    uin = _cfg.uin,
                    reportParam = [
                        'domain=' + domain,
                        'cgi=' + cgi,
                        'type=' + type,
                        'code=' + code,
                        'time=' + time,
                        'rate=' + rate,
                        'uin=' + uin
                    ],
                    reportUrl = 'http://c.isdspeed.qq.com/code.cgi?' + reportParam.join('&') + '&t=' + Math.random();
            if (reportUrl && Math.random() < (1 / rate)) {
                try {
                    var _rName = '_RETURNCODE' + _guid++;
                    window[_rName] = new Image();
                    window[_rName].src = reportUrl;
                }
                catch (e) {
                }
            }
        }

        task = setTimeout(function () {
            _report(_cfg.timeoutCode, codeType.error);
        }, _cfg.timeout);
        return {
            report: function (code, type) {
                var _type;
                switch (type) {
                    case true :
                        _type = codeType.success;
                        break;
                    case false :
                        _type = codeType.error;
                        break;
                    default :
                        _type = type;
                        break;
                }
                _report(code, _type);
                clearTimeout(task);
            },
            success: codeType.success,
            error: codeType.error,
            logicError: codeType.logicError
        }
    }
    function $extend() {
        var target = arguments[0] || {}, i = 1, length = arguments.length, options;
        if (typeof target != "object" && typeof target != "function")
            target = {};
        for (; i < length; i++)
            if ((options = arguments[i]) != null)
                for (var name in options) {
                    var copy = options[name];
                    if (target === copy)
                        continue;
                    if (copy !== undefined)
                        target[name] = copy;
                }
        return target;
    }
    ;
    function $getUin() {
        var uin = gCookie("uin") || gCookie('p_uin') || gCookie('pt2gguin') || gCookie('buy_uin');
        return uin ? parseInt(uin.replace("o", ""), 10) : "";
    }
    function wyShare(options) {
        if (navigator.userAgent.indexOf("NewsApp") < 0) {
            return;
        }
        var my = arguments.callee,
                $section = $("#__newsapp_container"),
                wyScriptUrl = "http://img3.cache.netease.com/utf8/3g/libs/NewsAppClient.js?" + (new Date().getTime()),
                tpl = [
                    '<div id="__newsapp_sharetext">{text}{linkUrl}</div>',
                    '<div id="__newsapp_sharephotourl">{photoUrl}</div>',
                    '<div id="__newsapp_sharewxtitle">{title}</div>',
                    '<div id="__newsapp_sharewxurl">{linkUrl}</div>',
                    '<div id="__newsapp_sharewxtext">{text}</div>',
                    '<div id="__newsapp_sharewxthumburl">{photoUrl}</div>'
                ].join(""),
                defaultOptions = {
                    title: "标题",
                    linkUrl: "",
                    photoUrl: "",
                    text: "",
                    success: function () {
                    },
                    failed: function () {
                    }
                };
        $.extend(defaultOptions, options);
        var newTpl = tpl.replace(/\{([^\}]+)\}/g, function (all, $1) {
            return defaultOptions[$1];
        });
        $section.html(newTpl);
        if (my.isCreate) {
            options.isFire
            && NewsAppClient.share({
                success: defaultOptions.success,
                failed: defaultOptions.failed
            });

        } else {
            $('<script>')
                    .appendTo(document.body)
                    .bind("load", function () {
                        if (!window["NewsAppClient"]) {
                            return;
                        }
                        my.isCreate = true;

                        options.isFire
                        && NewsAppClient.share({
                            success: defaultOptions.success,
                            failed: defaultOptions.failed
                        });
                    })
                    .bind("error", function () {
                    })
                    .attr("src", wyScriptUrl);
        }
    }
</script>
<script type="text/javascript">
    /*全局变量*/
    var arrImgsEle;//保存图片对象列表
    var arrItemsEle;//商品对象列表
    var PREL_OFFSET = 620;//预加载的上下offset范围
    var SCR_TOP_CK = '_ppy_scrolly_top_pos';//cookie Key
    var CUR_CAT_CK = '_ppy_cat_id';
    var IS_WECHAT = (window.navigator.userAgent.toLowerCase().match(/micromessenger/i) == 'micromessenger') ? true : false;
    var CAT_HEIGHT = $('#mod_cat').height();
    var VIP_SHOW = (location.search.indexOf("vip=1") > 0) ? true : false;
    var IS_INIT = false;
    var IS_MHTML = false;
    try {
        /*idc*/
        var ACTIVE_ID = 35674;
    } catch (e) {
    }
    if (typeof ACTIVE_ID == undefined || $.trim(ACTIVE_ID) == '') {
        var ACTIVE_ID = 35674;//idc,gamma=>31628
        var TUIJIAN_ID = 36226;
    }
    var ACTIVE_ID = 35674;//idc,gamma=>31628
    var TUIJIAN_ID = 36226;
    /*公共函数*/
    //出错定义
    (function () {
        var defe = window.onerror;
        window.onerror = function (e) {
            if (typeof defe == 'function') {
                defe.apply(null, arguments);
            }
            if (console && console.error) {
                //console.error(arguments);
            }
        }
    })();
    //Cookie处理
    var gCookie = function (name) {
        var reg = new RegExp("(^| )" + name + "(?:=([^;]*))?(;|$)"),
                val = document.cookie.match(reg);
        return val ? (val[2] ? unescape(val[2]) : "") : null;
    };
    var sCookie = function (name, value, expires, path, domain, secure) {
        var exp = new Date(),
                expires = arguments[2] || null,
                path = arguments[3] || "/",
                domain = arguments[4] || null,
                secure = arguments[5] || false;
        expires ? exp.setMinutes(exp.getMinutes() + parseInt(expires)) : "";
        document.cookie = name + '=' + escape(value) + (expires ? ';   expires=' + exp.toGMTString() : '') + (path ? ';   path=' + path : '') + (domain ? '; domain=' + domain : '') + (secure ? '; secure' : '');
    };
    //模板渲染
    var template = function (tpl, data) {
        var str = tpl.html();
        var _formatJson_cache = {};
        var fn = _formatJson_cache[str] ||
                new Function("obj",
                        "var p=[],print=function(){p.push.apply(p,arguments);};" +
                        "with(obj){p.push('" + str
                                .replace(/[\r\t\n]/g, " ")
                                .split("<%").join("\t")
                                .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                                .replace(/\t=(.*?)%>/g, "',$1,'")
                                .split("\t").join("');")
                                .split("%>").join("p.push('")
                                .split("\r").join("\\'") + "');}return p.join('');");
        return data ? fn(data) : fn;
    };
    /*页面函数*/
    //检查是否首次访问
    var checkFirstView = function () {
        //初次进入判断
        if (!gCookie('first_flag')) {
            var num = 0;
            $('body').addClass('firstview');
            $('#mod_mask').css('display', 'block');
            //提示层的操作绑定
            $('#mod_mask,#tips > span').on('click', function (e) {
                if (num == 1) return;
                if (num == 0) {
                    $('#tips').removeClass('entertips entertips_1');
                    $('#tips').addClass('entertips entertips_2');
                    num++;
                } else if (num == 1) {
                    $('#tips').removeClass('entertips entertips_2');
                    $('#tips').addClass('entertips entertips_3');
                    num++;
                } else if (num == 2) {
                    $('#tips').removeClass('entertips entertips_3');
                    $('#tips').addClass('entertips entertips_4');
                    num++;
                }
            });
            $('.entertips_order_btn').on('click', function (e) {
                sCookie('first_flag', '1', 52560000, "/");//600天左右
                $('body').removeClass('firstview');
                $('#mod_mask').css('display', 'none');
                //$('#tb_list').css('display','');
            });
        }
    };
    //点击广告的banner，只显示大V团的商品
    /*
     $("#tb_list").on("click", function(){
     VIP_SHOW=true;
     showCatItem("vip",'',true);
     setShareInfo();
     });
     */
    (function () {
        var $frist = $("#bannerBlock>li").eq(0);
        $frist.find("a").length == 0
        && $frist.on("click", function () {
            VIP_SHOW = true;
            showCatItem("vip", '', true);
            setShareInfo();
        });
    })();
    //延时加载图片--刷新未显示图片
    var showImg = function (top) {
        if (!arrImgsEle || 0 == arrImgsEle.length) {//无素材或商品图片
            return;
        }
        var iTop = top || $(window).scrollTop();
        var img,
                offsets,
                bottom;
        //加载图片的img顶部最小值
        var iMinTop = Math.max(iTop - PREL_OFFSET, 0);
        //底部最大值
        var iMaxTop = iTop + $(window).height() + PREL_OFFSET;
        var tmp = [];
        $.each(arrImgsEle, function (idx, img) {
            if (img.getAttribute('src')) {//已显示
                return;
            }
            offsets = $(img).offset();
            //图片底部坐标
            bottom = offsets.top + offsets.height;
            if ($(img).parent().parent().css('display') == 'none' || bottom < iMinTop || offsets.top > iMaxTop) {
                //不在显示范围或隐藏-保存下次继续
                tmp.push(img);
                return;
            }
            img.setAttribute('src', img.getAttribute('data-src'));
            var gnum = $(img).parents(".g").find(".g_num").children("b");
            var commodId = $(img).parents(".g").data("id");
            getTuanNum(commodId, gnum);
        });
        arrImgsEle = tmp;
    };
    //页面事件
    var initCommonEvt = function () {
        //目录项事件绑定
        var clickFlag = false;
        $('.cat_item').live('click', function () {
            VIP_SHOW = false;
            clickFlag = true;
            setShareInfo();
            showCatItem($(this).data('cat'), '', true);
            clickFlag = false;
            try {
                $countRDV2("20400.1." + $(this).data('tagid'));
            } catch (e) {
            }
        });
        //绑定商品点击
        $('#tuan').on('click', '.g', function (e) {
            if ($(this).length > 0) {
                if (clickFlag) {
                    return;
                } else {
                    clickFlag = true;//防止二次点击；
                    $('#tuan').css('display', 'none');//隐藏数据
                    //$('#tb_list').css('display','none');//隐藏参团条
                    $(".cat_wrap").hide();//隐藏类目
                    $('#plist').css('display', 'none');//隐藏广告
                    $('#pp_wechat').css('display', 'none');
                    $('#pp_footer_logo').css('display', 'none');
                    $('#no_all_items').css('display', 'none');
                    showBusy();
                    try {
                        $countRDV2("20400.1.1");
                    } catch (e) {
                    }
                    sCookie(SCR_TOP_CK, $(this).attr('data-id'));//返回时定位用activeNum=' + $(this).data('num') + '&
                    window.location.href = 'tuan_detail.html?comodityId=' + $(this).attr('data-id') + '&_wv=1';
                }

            } else {
                showBusy(false);
                return;
            }
        });
        //绑定广告点击
        $('#plist').on('click', '.plist_item', function (e) {
            if ($(this).length > 0) {
                $('#tuan').css('display', 'none');//隐藏数据
                //$('#tb_list').css('display','none');//隐藏参团条
                $('#plist').css('display', 'none');//隐藏广告
                $('#pp_wechat').css('display', 'none');
                $('#pp_footer_logo').css('display', 'none');
                showBusy();
                sCookie(SCR_TOP_CK, $(this).attr('data-id'));//返回时定位用
                window.location.href = $(this).prop('href');
            } else {
                return;
            }
        });
        //返回顶部
        $('#mod_qqbacktop').on('click', function (e) {
            $(window).scrollTop(0);
            $('#mod_qqbacktop').css('display', 'none');
        });
    };
    //滚动事件绑定
    var initScrollEvt = function () {
        var scroll_delay = 100;//0.1s
        var scroll_timeout = null;
        var show_backtotop_pos = 124;
        var modeNavH = 0;
        var modebanner = 0;
        //s--clone menu节点 --
        var menuFrag = document.createDocumentFragment(),
                menuC = document.createElement("div");
        menuC.className = "cat_fixed headroom";
        var cloneMenu = $("#mod_cat").children().clone(true)[0];
        menuC.appendChild(cloneMenu);
        menuC.id = "menuC";
        menuC.style.display = "none";
        menuC.style.top = modeNavH + "px";
        menuC.style.background = "#fff";
        menuFrag.appendChild(menuC);
        document.body.appendChild(menuFrag);
        //e--
        var up = false, bscroll = $(window).scrollTop();//滚动前的滚动高度
        window.addEventListener('scroll', function (e) {
            var curScrollTop = $(window).scrollTop();
            clearInterval(bannerSliderObj.timer);//暂停轮播
            clearTimeout(scroll_timeout);
            scroll_timeout = setTimeout(function () {
                var timeoutScrollTop = $(window).scrollTop();
                if (timeoutScrollTop >= show_backtotop_pos) {
                    $('#mod_qqbacktop').css('display', '');
                } else {
                    $('#mod_qqbacktop').css('display', 'none');
                }
                if ((timeoutScrollTop + modeNavH) <= modebanner) {
                    $("#mod_cat").show().removeClass("cat_fixed").css("top", "0");
                }
                showImg(timeoutScrollTop);
                bannerSliderObj.autoRun();//重启轮播
                //s--
                var sScrollTop = timeoutScrollTop - curScrollTop;
                if (sScrollTop == 0) {//停止滚动了
                    var drec = timeoutScrollTop - bscroll;
                    if (drec > 0) {//向上滑动
                        up = true;
                    } else {//向下滑动
                        up = false;
                    }

                    if ($("#plist").is(":visible")) {
                        modebanner = (modeNavH + $("#plist").height());
                    } else {
                        modebanner = modeNavH;
                    }
                    if (up) {//向上滑动
                        $("#menuC").addClass("cat_top").hide();
                    } else if (!up) {//向下滑动
                        if ((timeoutScrollTop + modeNavH) > ($("#plist").is(":visible") ? modebanner : (modebanner + 100))) {
                            $("#menuC").show().addClass("cat_down");
                        } else {
                            $("#menuC").hide();
                        }
                    }
                }
                bscroll = timeoutScrollTop;
                //e--
            }, scroll_delay);
        });
        var cat_obj = document.getElementById('mod_cat');
        var headroom = new Headroom(cat_obj, {
            "tolerance": 5,
            "offset": 100,
            "classes": {
                "initial": "",
                "pinned": "cat_down",
                "unpinned": "cat_up",
                "top": "cat_top",
                "notTop": "cat_not_top"
            }
        });
        headroom.init();
        if ($(window).scrollTop() >= show_backtotop_pos) {//初始化
            $('#mod_qqbacktop').css('display', '');
        }
    }
    //显示/隐藏数据处理中
    var showBusy = function (flag) {
        var b = (typeof flag == 'undefined') || !!flag;
        $('#no_cat_items').css('display', 'none');
        $('#ld_mask').css('display', b ? 'block' : 'none');
        $('#tuan').css('display', b ? 'none' : 'block');
    };
    //滚动至商品
    var scrollToItem = function (posId) {
        if (posId) {
            var item = $('#comd_' + posId);
            if (item.length > 0) {
                $(window).scrollTop(item.offset().top - CAT_HEIGHT - 6);
            }
        }
    }
    //显示某一分类的商品
    var showCatItem = function (catId, posId, isClick) {
        if (VIP_SHOW) {
            $('.cat_item').removeClass('cat_cur');
        } else {
            catId = ($.trim(catId) == '' || $.trim(catId) == 'new') ? 'new' : catId;
            //菜单样式更新
            $('.cat_item[data-cat="' + catId + '"]').addClass('cat_cur').siblings().removeClass('cat_cur');
        }
        $("#mod_cat").removeClass("cat_fixed").css("top", "0");
        sCookie(CUR_CAT_CK, catId);//更新cookie
        if (isClick) {//点击菜单
            $(window).scrollTop(0);
            $('#tuan').animate({
                opacity: 0.2
            }, {
                duration: 400,
                complete: function () {
                    var catItems = "";
                    if (catId == "new") {
                        $('#plist').css('display', '');//显示广告
                        $("#tuanbanner").show();
                    } else {
                        $('#plist').css('display', 'none');//隐藏广告
                        $("#tuanbanner").hide();
                    }
                    if (VIP_SHOW) {
                        catItems = (arrItemsEle.filter('[data-vtuan="1"]'));
                    } else if (catId == "new") {
                        catItems = (arrItemsEle.filter('[data-newGoods="new"]'));
                    } else if (catId == "hot") {
                        catItems = (arrItemsEle.filter('[data-hotGoods="hot"]'));
                    } else if (catId == "qiang") {
                        catItems = (arrItemsEle.filter('[data-catstyle="' + catId + '"]'));
                    } else {
                        catItems = (arrItemsEle.filter('[data-cat="' + catId + '"]'));
                    }
                    if (catItems.length > 0) {
                        $('#no_cat_items').css('display', 'none');
                        catItems.filter(':hidden').css('display', '');
                        if (VIP_SHOW) {
                            arrItemsEle.filter(':not([data-vtuan="1"]):visible').css('display', 'none');
                        } else if (catId == "new") {
                            arrItemsEle.filter(':not([data-newGoods="' + catId + '"]):visible').css('display', 'none');
                        } else if (catId == "hot") {
                            arrItemsEle.filter(':not([data-hotGoods="' + catId + '"]):visible').css('display', 'none');
                        } else if (catId == "qiang") {
                            arrItemsEle.filter(':not([data-catstyle="' + catId + '"]):visible').css('display', 'none');
                        } else {
                            arrItemsEle.filter(':not([data-cat="' + catId + '"]):visible').css('display', 'none');
                        }
                        showImg(0);
                    } else {//无商品
                        arrItemsEle.filter(':visible').css('display', 'none')
                        if ($('#no_all_items').css('display') == 'none') {
                            $('#no_cat_items').css('display', '');
                        }
                    }
                    $('#tuan').css('opacity', 1);
                }
            }, 'ease-out');
        } else {//页面返回或载入
            if (catId == "new") {
                $('#plist').css('display', '');//显示广告
                $("#tuanbanner").show();
            } else {
                $('#plist').css('display', 'none');//隐藏广告
                $("#tuanbanner").hide();
            }
            if (VIP_SHOW) {
                arrItemsEle.filter(':not([data-vtuan="1"]):visible').css('display', 'none');
            } else if (catId == "new") {
                arrItemsEle.filter(':not([data-newGoods="' + catId + '"]):visible').css('display', 'none');
            } else if (catId == "hot") {
                arrItemsEle.filter(':not([data-hotGoods="' + catId + '"]):visible').css('display', 'none');
            } else if (catId == "qiang") {
                arrItemsEle.filter(':not([data-catstyle="' + catId + '"]):visible').css('display', 'none');
            } else {
                arrItemsEle.filter(':not([data-cat="' + catId + '"]):visible').css('display', 'none');
            }
            setTimeout(function () {
                scrollToItem(posId);
                showImg();
                initScrollEvt();
            }, 100);
        }
        //}
    };
    //商品数据拉取及渲染
    var getItemData = function () {
        var dataUrl = {
            "dync": {
                "page1": "http://opr.paipai.com/mart/activeshow?ids=" + ACTIVE_ID + "&pcs=128&sort=1",
                "tuijian": "http://opr.paipai.com/mart/activeshow?ids=" + TUIJIAN_ID + "&pcs=128&sort=1"
            },
            "static": {
                "page1": "act_" + ACTIVE_ID + ".js",
                "tuijian": "act_" + TUIJIAN_ID + ".js"
            }
        }
        var goodsData = [];
        var TOTALTIME = 2;
        var loadTime = 0;//计数器，加载数据次数
        //显示/隐藏错误提示
        var showErr = function (flag) {
            var b = (typeof flag == 'undefined') || !!flag;
            $('#no_cat_items').css('display', 'none');
            $('#no_all_items').css('display', b ? 'block' : 'none');
            $('#tuan').css('display', b ? 'none' : 'block');
        };
        //对加载的数据进行格式化
        var process_data = function (dat, statdata, catflag) {
            var ret = [];
            var vecAreas, area;
            var curD = new Date();
            var curTime = Math.floor(curD.getTime() / 1000);

            if (statdata) {
                vecAreas = dat.data.vecAreas;
            } else {
                vecAreas = (dat.data && dat.data[0] && dat.data[0].vecAreas);
            }
            if (dat && dat.data && vecAreas) {
                for (var i = 0, il = vecAreas.length; i < il; i++) {
                    area = vecAreas[i];
                    //根据产品需求结束时间需要减去24小时---2014/10/27--heinzjin(p_jddqjin)提供
                    area.dwEndTime -= 24 * 3600;
                    if (area.dwBeginTime > curTime || area.dwEndTime < curTime || !area.vecTabs) {//过期数据或空数据
                        continue;
                    }
                    //$.each(area.vecTabs,function(idx,itm){
                    for (var k = 0; k < area.vecTabs.length; k++) {
                        var itm = area.vecTabs[k], idx = k;
                        var cat_id = (itm.mapExt && itm.mapExt.ext3_colormark != undefined) ? itm.mapExt.ext3_colormark : '';
                        var priceMkt = (itm.vecExtData && itm.vecExtData[0] && itm.vecExtData[0].strValue) - 0;//市场价
                        var priceOne = (itm.vecExtData && itm.vecExtData[2] && itm.vecExtData[2].strValue) - 0;//1人团价
                        if (isNaN(priceMkt) || isNaN(priceOne) || priceMkt <= 0 || priceOne <= 0 || priceMkt < priceOne || itm.dwActivePrice >= priceOne * 100)continue;
                        itm.dwMarketPrice = priceMkt * 100;
                        var d = {
                            'areaBgAt': area.dwBeginTime,//当期开始时间
                            'areaId': area.dwAreaId,//期数
                            'ordNo': itm.dwOrderNum > 0 ? itm.dwOrderNum : Number.MAX_VALUE,//排序字段为0的说明未做设置，默认拍到最后
                            'comodityId': itm.strCommodityId,
                            'activeNum': area.dwAreaId,//期数
                            'activePrice': (parseFloat(itm.dwActivePrice) / 100).toFixed(2),//活动价N人团价
                            'marketPrice': (parseFloat(itm.dwMarketPrice) / 100).toFixed(2),
                            'comoditySmallPicUrl': (itm.mapCustomData.uploadPicUrl1 || itm.mapCustomData.uploadPicUrl2 || itm.mapCustomData.uploadPicUrl3),//?
                            'comodityShortName': itm.mapExt.recmdRegName,//?
                            'comodityDesc': itm.mapCustomData.itemExtValue1,//?
                            'leastPeopNum': String(itm.mapCustomData.itemExtValue2).match(/(\d+)/g)[0],//2|20|1000|500   (成团人数|大V团人数|大V团价格|大V团优惠价)
                            'discount': itm.dwMarketPrice > 0 ? (parseFloat(itm.dwActivePrice) * 10 / parseFloat(itm.dwMarketPrice)).toFixed(1) : 0.01,
                            'cat': "cat" + cat_id,
                            'vtuan': (String(itm.mapCustomData.itemExtValue2).match(/(\d+)/g)[1] > 0) ? "1" : "0",
                            'dwStockClass': itm.dwStock == 0 ? "g_disabled" : "",
                            'backCountTime': countBackTime(area.dwEndTime),
                            'shopName': itm.strShopName.length > 24 ? (itm.strShopName.slice(0, 24) + "...") : itm.strShopName,
                            'shopUrl': 'http://wd.paipai.com/mshop/' + itm.ddwSellerUin
                            //'hotGoods':(itm.vecExtData && itm.vecExtData[1] && itm.vecExtData[1].strValue ==1) ? "hot" : ""//strName:'热门商品'
                        };
                        if (!catflag) {
                            var sTime = curTime - d.areaBgAt, eTime = area.dwEndTime - curTime;
                            if (sTime > 86400 && sTime <= 3 * 86400) {
                                d.hotGoods = "hot";//生效时间在第2-4天为热卖
                            }
                            if (sTime <= 86400) {
                                d.newGoods = "new";//生效时间在1天内为上亲
                            }
                            if (eTime <= 86400) {
                                d.catStyle = "qiang";//生效时间不足1天为疯抢
                            }
                            ret.push(d);
                        } else {
                            if (d.cat == "cat1") {
                                d.cat = catflag;
                                ret.push(d);
                            }
                        }

                    }
                    ;
                }
            } else {
                var rCode = (dat && dat.errCode) ? dat.errCode : 0;
                retCode.report(rCode, 3);//接口返回失败
            }

            return ret;
        };
        //计算出倒计时
        function countBackTime(time) {
            if (!time)return "";
            var secTime = time - Math.floor(new Date().getTime() / 1000);
            if (secTime > 0) {
                var dTime = secTime / (60 * 60 * 24);
                if (dTime > 1) {
                    return Math.floor(dTime) + "天";
                } else {
                    var hTime = Math.floor(dTime * 24);
                    return hTime + "小时";
                }
            } else {
                return "";
            }

        }

        //设置分享初始数值
        window.setShareInfo = function () {
            var url = "http://app.paipai.com/takeCheap/tuan_list.html?_wv=1";
            if (VIP_SHOW) {
                url = "http://app.paipai.com/takeCheap/tuan_list.html?_wv=1&vip=1";
            }
            if (wxShareArr && wxShareArr.length > 1) {
                var wxShareSpeak = wxShareArr[Math.floor(Math.random() * (wxShareArr.length - 1))];
            }
            shareApi({
                "url": url,
                "qq_title": "一起买，更省钱！",
                "qzone_title": "【拍拍-拍便宜】一起买，更省钱！",
                "wechat_title": "一起买，更省钱！",
                "wechat_time_title": wxShareSpeak || "一起买，更省钱 -【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
                "wechat_desc": "【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
                "qq_desc": "【拍拍-拍便宜】专供商品，邀请好友，一起抄底！",
                "qzone_desc": "好友一起买，享受更低价！快去邀请好友，一起抄底！",
                "img": "http://static.paipaiimg.com/v5/img/init_img.png",
                "ptag": {
                    w2w: "20400.5.3", //微信分享至微信好友
                    w2t: "20400.5.4", //微信分享至朋友圈
                    //w2b:"",		//微信分享至腾讯微博,如果没有，可不传
                    //w2e:"",		//微信发送邮件，如果没有，可不传
                    q2q: "20400.5.1", //手Q分享至QQ好友或群
                    q2z: "20400.5.2", //手Q分享至QQ空间
                    q2w: "20400.5.3", //手Q分享至微信好友
                    q2t: "20400.5.4"  //手Q分享至朋友圈
                }
            });
            wyShare({
                title: "【拍拍-拍便宜】",
                linkUrl: window.location.href,
                photoUrl: "http://static.paipaiimg.com/v5/img/init_img.png",
                text: "一起买，更省钱！快来拍便宜吧！"
            });
        };
        if (navigator.userAgent.match(/(OS [5-7]_\d[_\d]* like Mac OS X)|(android)/i)) {
            $("#tuan").css("-webkit-transform", "translate3d(0px,0px,0px)");
        }
        //设置商品列表数据
        var setListData = function (data) {
            var il,
                    i = 0,
                    tuanHtml = '';
            if (data && data.length > 0) {
                tuanHtml = template($('#template_tuan'), {data: data});
            }
            if (loadTime == TOTALTIME) {
                if (IS_WECHAT) {
                    tuanHtml += '<div class="wxblank"><span>还没逛够？剧透一下，明日商品更劲爆哦！</span></div>';
                } else {
                    tuanHtml += '<div class="blank2"><span>还没逛够？剧透一下，明日商品更劲爆哦！</span></div>';
                }

            }

            $('#tuan').append(tuanHtml);


            arrImgsEle = $('#plist,#tuan').find('img');
            arrItemsEle = $('#tuan>.g');
        };
        //初始化图片及位置
        var initPageState = function () {
            var lastCat = $.trim(gCookie(CUR_CAT_CK));
            var posId = $.trim(gCookie(SCR_TOP_CK));
            sCookie(SCR_TOP_CK, '');
            if (lastCat == 'vip') {
                VIP_SHOW = true;
                showCatItem(lastCat, posId);
            } else if (VIP_SHOW) {
                showCatItem('vip', '');
            } else {
                showCatItem(lastCat, posId);
            }
        };

        //加载数据
        //window.retCode=$returnCode({url:strDurl});
        window.activeshow_35674_cb = function (data) {
            window.retCode = $returnCode({url: dataUrl.static.page1});
            var data_arr = process_data(data, true);
            commonset(data_arr);
        };
        window.activeshow_36226_cb = function (data) {
            window.retCode = $returnCode({url: dataUrl.static.tuijian});
            var data_arr = process_data(data, true, "tuijian");
            commonset(data_arr);
        };
        function loadStaticData(url) {
            loadScript(url, function () {
            }, function () {
                showBusy(false);
                showErr(true);
                initCommonEvt();
                showFooter();
                retCode.report(1, false);//请求失败
            });
        }

        var loadData = function () {
            if (staticInterface) {
                for (var url in dataUrl.static) {
                    loadStaticData(dataUrl.static[url]);
                }
            } else {
                for (var url in dataUrl.dync) {
                    var catflag;
                    if (!/page/i.test(url)) {
                        catflag = url;
                    }
                    reqData(dataUrl.dync[url], catflag, dataUrl.static[url]);
                }
            }

        }

        function reqData(url, catflag, staticurl) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'jsonp',
                success: function (data) {
                    window.retCode = $returnCode({url: url});
                    var data_arr = process_data(data, false, catflag);
                    commonset(data_arr, true, staticurl, catflag);
                },
                error: function () {
                    window.retCode = $returnCode({url: url});
                    loadStaticData(staticurl, catflag);
                    retCode.report(1, false);//请求失败
                }
            });
        }

        function commonset(data, err, staticurl, catflag) {
            console.log("commonset__" + retCode);
            if (data.length > 0) {
                goodsData = goodsData.concat(data);

            } else {
                if (err) {
                    loadStaticData(staticurl, catflag);
                } else {
                    showErr();
                    if (retCode)retCode.report(2, true);//数据为空
                }
            }
            loadTime++;
            if (loadTime == TOTALTIME) {
                showBusy(false);
                if (goodsData.length > 0) {
                    goodsData = sort(goodsData);
                    setListData(goodsData);//填充Dom
                    setShareInfo();
                    initCommonEvt();
                    initPageState();//初始化图片及位置
                    if (retCode)retCode.report(1, true);//加载成功
                }
                showFooter();
            }
        }

        function sort(data) {
            if (data.length > 0) {
                //排序--按照所在期开始时间，最新开始的排在最前。同一期内根据dwOrderNum升序排列，dwOrderNum为0的放到最后
                data.sort(function (a, b) {
                    if (a.areaBgAt != b.areaBgAt) {
                        return b.areaBgAt - a.areaBgAt;
                    } else {
                        return a.ordNo - b.ordNo;
                    }
                });
            }
            return data;
        }

        loadData();
    };
    //加载商品的静态数据
    var loadScript = function (url, sucFun, failFun) {
        if (!url)return;
        var scriptTag = document.createElement("script");
        scriptTag.src = url;
        scriptTag.charset = "gb2312";

        scriptTag.onload = scriptTag.onreadystatechange = function () {
            if (!this.readyState || this.readyState == "complete" || this.readyState == "loaded") {
                if (typeof sucFun == "function") {
                    sucFun();
                }
            }
        }
        scriptTag.onerror = function () {
            if (typeof failFun == "function") {
                failFun();
            }
        }
        document.getElementsByTagName('head')[0].appendChild(scriptTag);
    }
    //拉取商品的参团人数
    function getTuanNum(comodityId, gnum) {
        $.get('http://b.paipai.com/groupservice/groupplayers?productId=' + comodityId, function (json) {
            if (json && json.data && json.data.groupplayers > 0) {
                gnum.html(json.data.groupplayers);
            }
        }, 'jsonp');
    }
    //页脚控制
    var showFooter = function () {
        if (IS_WECHAT) {//wechat
            $('#pp_wechat').css('display', '');
        }
        $('#pp_footer_logo').css('display', 'none');
    };
    //全局调用
    var initPage = (function () {
        //checkFirstView();//首次加载检测
        getItemData();//异步获取商品数据
    })();

    function bannerSlider() {
        this.init.apply(this, arguments);
    }
    bannerSlider.prototype = {
        options: {
            index: 0,
            step: Math.min(640, window.innerWidth),
            initCallback: function () {
            },
            endCallback: function () {
            },
            timeStep: 4500,
            ulEleIndent: 0
        },
        init: function (options) {
            $.extend(this, this.options, options || {});
            var self = this,
                    $icons = this.$icons;
            this.len = this.$blocks.length;
            this.$blocks.each(function (i, li) {
                $(li).css("width", self.step);
            });

            this.$blockC.parent().css({
                //"-webkit-transform" : "translate3d(0px, 0px, 0px)",
                "left": 0,
                "-webkit-backface-visibility": "hidden"
            });
            this.$blockC
                    .css("width", this.step * this.len + 100 + "px")
                    .bind("touchstart", function (e) {
                        self.start(e);
                    })
                    .bind("touchmove", function (e) {
                        self.move(e);
                    })
                    .bind("touchend", function (e) {
                        self.end(e);
                    })
            /*.bind("webkitTransitionEnd",function(){
             self.transitionEnd();
             })*/

            $icons && $icons.length <= 1
            && $icons.parent().hide();

            this.autoRun();

            this.initCallback();
        },
        start: function (e) {
            clearInterval(this.timer);
            //this.$blockC.css("-webkit-transition","-webkit-transform 0ms")
            this.$blockC.css("left", "0");
            var touches = e.touches[0];
            this.startClientX = e.touches[0].clientX;
        },
        move: function (e) {
            this.endClientX = e.touches[0].clientX;
            var val = this.index * -1 * this.step + this.endClientX - this.startClientX;
            //this.$blockC.css("-webkit-transform","translate3d("+val+"px,0px,0px)")
            this.$blockC.css("left", val);
            if (Math.abs(this.endClientX - this.startClientX) > 25) {
                e.preventDefault();
                e.stopPropagation();
            }
        },
        end: function (e) {
            var val = Math.abs(this.endClientX - this.startClientX),
                    self = this,
                    index;
            if (val <= 25) {
                index = this.index;
            } else if (this.endClientX > this.startClientX) {
                index = this.index - 1;
            } else {
                index = this.index + 1;
            }
            this.moveTo(index, 0, function () {
                self.autoRun();
            });
        },
        transitionEnd: function () {
            var self = this;
            if (this.$icons) {
                this.$icons.each(function (i, dom) {
                    i == self.index
                            ? $(dom).addClass("on")
                            : $(dom).removeClass("on")
                })
            }
            this.endCallback();
            this.endCallback = function () {
            }
        },
        autoRun: function () {
            if (this.len <= 1)
                return;
            var self = this;
            this.timer = setInterval(function () {
                var index = self.index >= self.len - 1 ? 0 : self.index + 1
                self.moveTo(index, 1);
            }, this.timeStep);
        },
        moveTo: function (index, autoRun, callback) {
            var val = 0,
                    self = this,
                    n = 0, leftIndent = 0;
            if (index < 0) {
                val = 0;
                index = 0;
            } else if (index >= this.len) {
                val = -(this.len - 1) * this.step
                index = this.len - 1;
            } else {
                val = -Math.abs(index * this.step)
            }
            this.endCallback = callback || function () {
            };
            this.index = index;
            if (!autoRun) {
                //self.$blockC.css("-webkit-transform","translate3d("+val+"px,0,0)");
                self.$blockC.css("left", val);
                self.ulEleIndent = val;
                self.transitionEnd();
            } else {
                var sliderInterval = setInterval(function () {
                    if (n == 10) {
                        self.ulEleIndent = val;
                        //self.$blockC.css("-webkit-transform","translate3d("+val+"px,0,0)");
                        self.$blockC.css("left", val);
                        clearInterval(sliderInterval);
                        self.transitionEnd();
                        return;
                    }
                    if ((val - self.ulEleIndent) > 0) {
                        leftIndent = (self.ulEleIndent - val) * ((10 - n) / 10);
                    } else {
                        leftIndent = -(Math.abs(self.ulEleIndent) + (self.step) * (n / 10));
                    }
                    //self.$blockC.css("-webkit-transform","translate3d("+leftIndent+"px,0,0)");
                    self.$blockC.css("left", leftIndent);
                    n += 1;
                }, 30);
            }
        }
    }
    $("#plist").css("margin", 0);
    var bannerSliderObj = new bannerSlider({
        $blockC: $("#bannerBlock"),
        $blocks: $("#bannerBlock>li"),
        $icons: $("#bannerIcons>li"),
        initCallback: function () {
            var l = $("#bannerBlock>li").length;
            if (l > 1) {
                $("#bannerIcons").html("<li class='on'></li>" + (new Array(l).join("<li></li>"))).show();
            }
            this.$icons = $("#bannerIcons>li");
        }
    })
</script>
<script src="http://static.gtimg.com/js/version/2014/09/ecc.cloud.ppmobilereport.20140905.js?t=201409091150"
        type="text/javascript"></script>
</body>
</html>